<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}"%>">
      <h2><%= @user.name %></h2>
      <% if @user.id == @current_user.id %>
        <p><%= @user.email %></p>
      <% end %>
      <p><%= @user.prefecture.name %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    
    <ul class="user-tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li class="active"><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>

    <p><%= @likes_count %>件</p>

    <%= form_with url: "/users/#{@user.id}/likes", method: :get, local: true do |form| %>
      <%= select_tag :prefecture_id, options_from_collection_for_select(Prefecture.all, :id, :name, params[:prefecture_id]), {include_blank: "全て"} %>
      <%= form.label :status_unexplored, "未開地" %>
      <%= form.radio_button :status, "unexplored", id: "status_unexplored" %>
      <%= form.label :status_all, "すべて" %>
      <%= form.radio_button :status, "all", id: "status_all" %>
      <%= submit_tag "絞り込む" %>
    <% end %>

    <% @likes.each do |like| %>
      <% post = like.post %>
      
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
