<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
      <div class="form users-form">
        <div class="form-body">

          <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
          <% end %>

          <%= form_tag("/users/create", {multipart: true}) do %>
          <label for="name">ユーザー名</label>
          <input name="name" id="name" value="<%= @user.name %>">
          <label for="email">メールアドレス</label>
          <input name="email" id="email" value="<%= @user.email %>">
          <label for="prefecture_id">所在地</label>
          <%= select_tag 'prefecture_id', options_from_collection_for_select(Prefecture.all, :id, :name), {include_blank: "---"} %>
          <label for="password">パスワード</label>
          <input type="password" id="password" name="password" value="<%= @user.password %>">
          <input type="submit" value="新規登録">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>