<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">新規投稿</h1>
    <%= form_with url: '/posts/create', method: :post, local: true, multipart: true do |form| %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <div class="form-main">
            <div>
              <%= form.label :cafe_name, 'カフェ名' %>
              <%= form.text_field :cafe_name, value: @post.cafe_name %>
            </div>
            <div>
              <%= form.label :prefecture_id, '都道府県' %>
              <%= form.select :prefecture_id, options_from_collection_for_select(Prefecture.all, :id, :name, @post.prefecture_id), { include_blank: "---" } %>
            </div>
            <div>
              <%= form.label :image, '画像' %>
              <%= form.file_field :image %>
            </div>
            <div>
              <%= form.text_area :content, value: @post.content %>
            </div>
          </div>
          <%= form.submit '投稿' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
